@font-face {
  font-family: 'EBSHMJESaeronRA';
  src: url('./assets/fonts/EBS훈민정음새론R.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'EBSHMJESaeronRA';
}

.App {
  text-align: center;
}

* {
  background: #ffffff;
  color: #1F2437;
}

.text-primary {
  color: #e9a69e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
