.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark);
  padding: 20px;
  text-align: center;
}

.footer__copyright {
  font-size: 12px;
  color: var(--color-bright);
  margin-top: 5px;
}
