.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-beige);
  padding: 20px;
  text-align: center;
}

.footer__text {
  font-size: 14px;
  color: #888;
}

.footer__copyright {
  font-size: 12px;
  color: #888;
  margin-top: 5px;
}
