.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  padding: 1rem;
  backdrop-filter: blur(5px);
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navItem {
  flex: 1;
}

.navLink {
  color: var(--color-bright);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'iceSotong-Rg';
  font-size: 25px;
}

.menuIcon {
  cursor: pointer;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
  border-radius: 50%;
  padding: 10px;
  line-height: 1;
  display: inline-block;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  &:hover,
  &:focus {
    background-color: var(--color-highlight);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}
