.nav {
  background-color: var(--color-dark);
  padding: 1rem;
  backdrop-filter: blur(5px);
}

.navList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navItem {
  flex: 1;
}

.navLink {
  color: var(--color-bright);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-family: 'iceSotong-Rg';
  font-size: 25px;

  &:hover {
    color: lightblue;
  }
}
